<div class="container"style="height: 450px">
    <h2 class="text-center">To Do List</h2>

    <form [formGroup]="this.todoService.form" (ngSubmit)="onSubmit()">
      
      <input type="hidden" formControlName="$key">
        
        <div class="form-group">
          <input formControlName="Task" class="form-control" type="text" placeholder="Task">
        </div>
        
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-sm" value="To do">
        </div>
    
    </form>
    
    <div class="alert alert-info"  *ngIf="showSuccessMessage">
      Task Added!!!
    </div>

    <app-todo-list></app-todo-list>
</div>