  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/p2.png" class="navbar-brand-img" height="30px" width="25px" alt="Logo">
        RODISC
      </a>
      <h5 *ngIf="user" class="text-uppercase">{{ user?.displayName }}</h5>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink='' >Home</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink='/feature'>Features</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" routerLink='/about'>About Us</a>
              <a class="dropdown-item" routerLink='/contact'>Contact Us</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-default nav-link js-scroll-trigger" routerLink='/login' *ngIf="!user">Log In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger nav-link js-scroll-trigger" routerLink='/logout' *ngIf="user">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
