.about-section{
    padding-top:12rem;
    background:-webkit-gradient(linear,left top,left bottom,from(#161616),color-stop(75%,rgba(22,22,22,.9)),to(rgba(22,22,22,.8)));
    background:linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%)
}

.about-section 
    p{
        margin-bottom:10rem;
        font-family: "Palatino Linotype";
    }