    <!-- About Section -->
    <div class="about-section text-center">
        <div class="container" >

            <div class="col-lg-8 mx-auto">
              <h2 class="text-white mb-4">Build your team and start working</h2>
              <p class="text-white-50">Now team members does not need to be present for discussion.Here you come up with your ideas , form the team and start discussion about the project anytime anywhere.</p>
            </div>


            <div class="col-lg-15">
              <img src="assets/img/prodisc1.jpg" class="img-fluid">
            </div>

        </div>
  </div>
  