<section id="registration" class="projects-section" style="background-color:darkgrey;height: 500px">

    <div class="row">
            
            <div class="column middle" style="background-color : white;">
                <div class='container'>
                    <h2 class="text-center">Sketch Board</h2>
                    <canvas #mount id="canvas"></canvas>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Eraser()">Eraser</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Download()">Download</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Upload()">Upload</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Delete()">Delete</button>
                </div>           
            </div>
            
            
    </div>
</section>
