<section id="registration" class="projects-section">

    <div>
        <button type="button" class="btn btn-dark" (click)="Download()">Download</button>
    </div>

    <div>
        <button type="button" class="btn btn-dark" (click)="Upload()">Upload</button>
    </div>
    <div class='container'>
        <h1 class="text-center">Sketch Board</h1>
        <canvas #mount id="canvas"></canvas>
    </div>

    <div>
        <button type="button" class="btn btn-secondary btn-sm" (click)="Eraser()">
            <i class="fa fa-eraser" aria-hidden="true"></i>
            Eraser
        </button>
    </div>

    <div>
        <button type="button" class="btn btn-dark" (click)="Clear()"></button>
    </div>

    <div class="d-flex justify-content-center">
        <div class="btn btn-mdb-color btn-rounded float-left">
          <span>Choose file</span>
          <input type="file" id='file' (change)="Upload()">
        </div>
    </div>  
    
    <div>
        <h1> Paint {{message}} </h1>
    </div>
</section>
<section id="registration" class="projects-section">
    <app-todo></app-todo>
</section>