
<table class="table table-sm">
        <thead>  
          <th>Task</th>
          <th></th>
        </thead>
      <ul>
        <ng-container *ngFor="let todo of todoArray">
            <li>
                <td>{{todo.Task}}</td>  
                <td>
                  <button type="button" class="btn btn-success btn-sm" (click)="onDelete(todo.$key)">Done</button>        
                </td>
            </li>
        </ng-container>
      </ul>     
</table>
   
      <div class="alert alert-danger" *ngIf="showDeletedMessage">
        Task Removed!!!
      </div>
      