    <!-- Navigation navbar navbar-expand-lg navbar-light fixed-top   navbar navbar-expand-sm bg-dark navbar-light-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"   id="mainNav">
        <div class="container-fluid">
            <!----
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>-->

          <a class="navbar-brand" href="#">
            <img src="assets/img/p2.png" alt="Logo" style="width:30px;">
          </a>
          <a class="navbar-brand" href="#">
              PRODISX
          </a>

          <h5 *ngIf="user" class="text-uppercase">{{ user?.displayName }}</h5>
      
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger active " routerLink='' >Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink='/paint1' >About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink='/feature'>Features</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink='/signup' *ngIf="!user">Sign Up</a>
              </li>
              
              <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink='/login' *ngIf="!user">Sign in</a>
               </li>
              
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" routerLink='/logout' *ngIf="user">Sign out</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" routerLink='/project' *ngIf="user">Create Project</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
      
      <router-outlet></router-outlet>

     