<section id="registration" class="projects-section" style="background-color:darkgrey;">

    <div class="row">

            <div class="column left" style="background-color:blueviolet;">
                <div>
                    <h3 class="text-center">Members</h3>
                    <ul>
                        <li>Sanket Hebbal</li>
                        <li>Shruti Metkar</li>
                        <li>Abhishek Zambare</li>
                    </ul>
                </div>
                <app-todo></app-todo>
            </div>
            
            <div class="column middle" style="background-color : white;">
                <div class='container'>
                    <h2 class="text-center">Sketch Board</h2>
                    <canvas #mount id="canvas"></canvas>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Eraser()">Eraser</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Download()">Download</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Upload()">Upload</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="Delete()">Delete</button>
                </div>           
            </div>
            
            <div class="column right" style="background-color:crimson;">
                <app-chat></app-chat>
            </div>
            
    </div>
</section>
