<section id="features" class="projects-section bg-dark">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="assets/img/34.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">New Project</h4>
                        <p class="mb-0 text-white-50">Come up with new and inovative ideas , plans.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="assets/img/51.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Search Members</h4>
                <p class="mb-0 text-white-50">Project can't be done without team members.Choose your own team members and work with them on any device across the platform you already use to put your ideas and plans into action.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
              <img class="img-fluid" src="assets/img/10.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <div class="text-center h-100 project">
                <div class="d-flex h-110">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Workspace</h4>
                    <p class="mb-0 text-white-50">Create simple flowcharts , layouts , diagrams related to your project and have a live discussion with your project crews through chat.</p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    </div>
  </section>
